<div >
  <div *ngFor="let task of tasks; let i = index; let odd = odd, let first = first" [ngClass]="{'bold': odd, 'pink': first }" >
    <!--{{ i + 1 }}.: {{ tasks[i] }} -->
    <app-task [name] = "task" (taskClicked)="handleStatus100($event)"></app-task>
  </div>
</div>

<!--
<div>
  <div *ngFor="let task of tasks; let i = index; let odd = odd, let first = first">
    <div [ngStyle]="{'background-color': getBgColor(i), 'font-weight': getBold(i)}">
      {{ i + 1 }}.: {{ tasks[i] }}
    </div>
  </div>
</div>
-->

